html {
    height: 100%
}

body {
    color: azure;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
    text-align: center;
    background-image: url(Unsplash.jpg);
    background-position: 50%;
}

img {
    width: 20%;
    height: auto;
}

h1 {
    font-family: 'Days One', sans-serif;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Exo', sans-serif;
    margin-top: 18px;
    font-size: 1.1em;
}

.mainp {
    font-family: 'Exo', sans-serif;
    margin-top: 2%;
    padding: 12px;
    font-size: 1em;
    padding-left: 15%;
    padding-right: 15%;
}

p {
    padding-top: 3%;
    background-color: rgba(164, 112, 178, 0.3);
    border-radius: 8%;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #FF00FF;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;
    padding: 10px;
    border-radius: 35%;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;    
    font-size: 14px;
    color: #ECA6FF ;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

a:hover {
    color: #ECA6FF;
    background: #A470B2;
}

.nav__link--active {
    color: #A95CBD;
}

.nav__icon {
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 0;
    max-height: 0%;
    color: azure;
    font-size: 0.85em;
    font-family: 'Exo', sans-serif;
}