body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
    background-image: url(Unsplash.jpg);
}

h1 {
    color: azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.blog {
    margin: 10px auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card__image {
    width: 100%;
    display: block;
}

.card__text {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 12px;
    color: azure;
    background: transparent;
}

.card__text > p:first-of-type {
    margin-top: 0;
}

.card__text > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    font-size: 0.8em;
    border-bottom: 2px solid #cccccc;
}

.card__link {
    color: #ECA6FF;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #FF00FF;
    display: flex;
    overflow-x: 60%;
}

.nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #ECA6FF ;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.nav__link:hover {
    background-color: #A470B2;
}

.nav__link--active {
    color: #A95CBD;
}

.nav__icon {
    font-size: 14px;
}

footer {
    min-height: 100%;
    color: azure;
    font-size: 0.85em;
    font-family: Tahoma;
}