body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    font-size: 0.9em;
    background-image: url(Unsplash.jpg);
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #FF00FF;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #ECA6FF ;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav__link:hover {
    background-color: #A470B2;
}

.nav__link--active {
    color: #A95CBD;
}

.nav__icon {
    font-size: 14px;
}

footer {
    position: bottom;
    padding-bottom: 10px;
    color: azure;
    font-size: 0.85em;
}