html {
    height: 100%;
}

body {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    height: 95%; 
    width: 100%;
    font-size: 1em;
    background-image: url(Unsplash.jpg);
    background-position: 50%;
}

.homepage {
    margin: 10px auto;
    max-width: 90%;
    gap: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile {
    margin-top: 2.5%;
    width: 300px;
    border-radius: 10%;
}

.text {
    color: azure;
    text-align: center;
}

h1 {
    font-family: 'Days One', sans-serif;
    letter-spacing: 2px;
}
    
h3 {
    margin-top: 8%;
    font-family: 'Exo', sans-serif;
}

h4 {
    margin-top: 8%;
    font-family: 'Exo', sans-serif;    
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    border-radius: 35%;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;    
    font-size: 14px;
    color: #ECA6FF ;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.nav__link--active {
    color: #A95CBD;
}

a:hover {
    color:#ECA6FF;
    background: #A470B2;
}

.nav__icon {
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 0;
    max-height: 0%;
    color: azure;
    font-size: 0.85em;
    font-family: 'Exo', sans-serif;
}